.App {
  text-align: center;
  background-image: url("https://assets.bonappetit.com/photos/5e20c52552062d000910a5d7/8:5/w_3144,h_1965,c_limit/Basically-Rice.jpg");
  background-size: cover;
  
  width: 100%;
}
h1{
  margin-top: 0;
}

.add{
  margin-bottom: 2em;
}

.rice{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em
  

}
.rice p{
  width: 237px;
}

.cover{
  width: 100%;
  height: 100%;
}

#riceb{
  padding: 0;
  color: black;
  background-color: black;
}
