@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Londrina+Outline&display=swap');

.App {
  text-align: center;

}

html{
  height: 100%;
 
}
body{
  background-image: url("https://assets.bonappetit.com/photos/5e20c52552062d000910a5d7/8:5/w_3144,h_1965,c_limit/Basically-Rice.jpg");
  background-size: cover;
  height: 100%
}
h1{
  /* margin: 20%; */
  font-family: 'Kumar One Outline', cursive;
  
  /* background-color: white; */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_FIUmTz9Bbm3nOgVcCaVoJuxoiitw1pedIA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  
  text-align: center;
  margin: 0;
  padding-top: 5px;
  
  
  
}



.rice{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em
  

}
.rice p{
  width: 237px;
}

.cover{
  width: 100%;
  height: 100%;
}
/* BUTTONS!!                                  */
.add{
  margin-bottom: 2em;
  background-color: black;
  color:white ;
  /* font-family: 'Londrina Outline', cursive; */
  border: none;
}
#riceb{
  padding: 0;
  color: black;
  background-color: black;
  width: 250px;
  height: 200px;
  border: none;
}

.edit{
  color:darkgrey;
  background-color: black;
  border: none
}

.delete{
  background-color: red;
  border: none;
}


